:root {
    --font-primary: 'Inter', Arial, sans-serif;
    --font-color-default: #dcdcdc;
    --font-color-placeholder: #a0a0a0;
    --brand-color: #1ed760;
    --brand-color-hover: #44ea7e;
}

body {
    margin: 0;
    padding: 0;
    background-color: #23482b;
    color: var(--font-color-default);
    font-family: var(--font-primary);
}